@import "../../variables";

.footer-container {
    text-align: center;
    padding:20px 0px;
    background-color: $dark-blue;
    position: sticky;
    bottom: 0;
    width:100vw;
}

.footer {
    font-size: .7em;   
}

.footer-slash {
    color: $light-red;
}