@import '../../variables';

.rsvp-form-container {
    height: auto;
    min-height: 400px;
    position: relative;
    padding-bottom:20px;
}

.rsvp-form-validation {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.rsvp-form-input {
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid $off-white;
    background-color: transparent;
    padding: 5px;
    text-align: center;
    color: $off-white;
    margin: 10px;
    outline:$light-blue;
}

.rsvp-form-input::placeholder {
    color:$off-white;
    text-align: center;
}

.rsvp-form-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    color: $off-white;
    padding: 10px 20px;
    border: 4px double;
    display: block;
}

.rsvp-party-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rsvp-coming-or-not {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rsvp-coming-or-not .rsvp-form-button {
    margin:20px;
}

.rsvp-party-form-container h1 {
    color:$light-blue;
    font-family:WildernessTypeFace;
    font-size:6em;
}

.rsvp-people-container {
    display: flex;
    flex-direction: column;
}

.rsvp-person {
    background-color: $main-red;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.rsvp-option {
    color:#000;
}

.rsvp-food-option-container {

}

.rsvp-food-option {
    margin: 5px 0px;
    padding: 30px;
    display:block;
    transition: all .3s ease-in-out;
}

.rsvp-food-option:hover {
    background-color: $light-red;
}

.rsvp-food-option input {
    appearance: none;
}

.rsvp-food-option-selected {
    border: 2px double $off-white;
}