<div class="rsvp-form-container">
    <div *ngIf="!isValidated; else partyEntry" class="rsvp-form-validation">
        <input #codeInput type="text" placeholder="Enter validation code" class="rsvp-form-input" />
        <button class="rsvp-form-button" (click)="validate(codeInput.value)">Validate</button>
    </div>
    <ng-template #partyEntry>
        <div class="rsvp-party-form-container">
            <h1>RSVP</h1>
            <input #partyLeaderInput (blur)="setPartyLeader(partyLeaderInput.value)" class="rsvp-form-input" type="text" placeholder="What's your full name?"
            />
            <div *ngIf="isComing === undefined">
                <div class="rsvp-coming-or-not" *ngIf="partyLeaderName">
                    <h2>Hey {{partyLeaderName}}! Are you coming?</h2>
                    <button class="rsvp-form-button" (click)="isComing = true">Yes</button>
                    <button class="rsvp-form-button" (click)="rejectInvite()">No</button>
                </div>
            </div>
            <div *ngIf="isComing">
                <input #guestCount class="rsvp-form-input" type="number" placeholder="How many are you bringing?" />
                <button class="rsvp-form-button" (click)="buildForm(partyLeaderName.value, guestCount.value)">Start</button>
            </div>
        </div>
    </ng-template>
    <ng-container *ngIf="partyList">
        <div class="rsvp-people-container" [formGroup]="partyList">
            <div formArrayName="people">
                <div *ngFor="let person of partyList.get('people').controls; let i = index">
                    <div class="rsvp-person" [formGroupName]="i">
                        <input class="rsvp-form-input" formControlName="name" placeholder="Guest Name" />
                        <select class="rsvp-form-input" formControlName="food">
                            <option class="rsvp-option" value="-1">Food Choice</option>
                            <option class="rsvp-option" value="0">Beef Tenderloin</option>
                            <option class="rsvp-option" value="1">Chicken Romano</option>
                        </select>
                        <textarea class="rsvp-form-input" formControlName="foodNotes" placeholder="Food Notes"></textarea>
                    </div>
                </div>
            </div>
            <button [disabled]="!partyList.valid" class="rsvp-form-button" (click)="submitParty()">Submit</button>
        </div>
    </ng-container>
</div>