.hero-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.hero-header {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
