.hero-container {
  height: 35vh;
  width: 100vw;
  background-position: center top;
    background-size: cover;
    background-image: url(/assets/images/hero-background.jpg);
    background-repeat: no-repeat;
}

@media screen and (min-width:768px) {
  .hero-container {
    height:85vh;
  }
}