@import "../../variables";

.mobile-nav {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  z-index: 2;
}

.nav-container,
.mobile-nav-container {
  font-family: $all-caps-font-stack;
  letter-spacing: 0.1em;
}

.mobile-nav-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 1.5em;
  background-color: $dark-blue;
  height: 100%;
  z-index: 1;
  text-align: center;
}

.mobile-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.55em;
}

.mobile-menu-option {
  padding: 10px;
  margin: 5px;
}

.nav-wrapper {
  display: none;
  height: 80px;
  width: 100%;
}

.nav-container {
  display: none;
  width: 100%;
  height: 80px;
  background-color: #081519;
  text-align: center;
}

.nav-menu {
  display: -webkit-inline-box;
  height: 100%;
}

.nav-menu-option {
  font-size: 0.7em;
  display: inline-block;
  margin: 33px 17px 17px 17px;
}

.nav-menu-jordan-joseph {
  display: inline-block;
  font-family: WildernessTypeFace;
  font-size: 1.8em;
  position: absolute;
  left: 40px;
  margin-top: 18px;
}

.mobile-menu .nav-menu-jordan-joseph {
  display: inline-block;
  font-family: WildernessTypeFace;
  font-size: 1.6em;
  margin-bottom: 30px;
  position: initial;
  left: 0;
  margin-top: 0px;
}

.nav-menu-rsvp {
  font-size: 0.7em;
  display: inline-block;
  border: 1px solid $off-white;
  padding: 10px 40px;
  position: absolute;
  right: 30px;
  margin-top: 22px;
}

.mobile-nav-menu-rsvp {
  border: 1px solid $off-white;
  padding: 10px 80px;
  display: inline-block;
}

@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }

  .nav-wrapper {
    display: inline-block;
  }

  .nav-container {
    display: inline-block;
  }

  .nav-container-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
  }
}
