@import "../../variables";

.mobile-nav {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 1.5em;
  z-index: 2;
}

.nav-container,
.mobile-nav-container {
  font-family: $all-caps-font-stack;
  letter-spacing: 0.03em;
}

.mobile-nav-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  font-size: 1.5em;
  background-color: $dark-blue;
  height: 100%;
  z-index: 1;
  text-align: center;
}

.mobile-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.55em;
}

.mobile-menu-option {
  padding: 10px;
  margin: 5px;
  color:$light-blue;
}

.mobile-menu-option, .nav-menu-option, .nav-menu-jordan-joseph, .nav-menu-rsvp, .mobile-nav-menu-rsvp, .mobile-nav ion-icon {
  cursor: pointer;
}

.nav-wrapper {
  display: none;
  height: 80px;
  width: 100%;
}

.nav-container {
  display: none;
  width: 100%;
  height: 80px;
  background-color: $dark-blue;
  text-align: center;
}

.nav-menu {
  display: -webkit-inline-box;
  height: 100%;
}

.nav-menu-option {
  font-size: 0.7em;
  display: inline-block;
  margin: 33px 17px 17px 17px;
  color:$light-blue;
}

.nav-menu-jordan-joseph {
  display: inline-block;
  font-family: WildernessTypeFace;
  font-size: 1.8em;
  position: absolute;
  left: 40px;
  margin-top: 18px;
  letter-spacing: 0;
}

.mobile-menu .nav-menu-jordan-joseph {
  display: inline-block;
  font-family: WildernessTypeFace;
  font-size: 2.5em;
  margin-bottom: 30px;
  position: initial;
  left: 0;
  margin-top: 0px;
}

.nav-menu-rsvp {
  font-size: 0.7em;
  display: inline-block;
  border: 1px solid $off-white;
  padding: 10px 40px;
  position: absolute;
  right: 30px;
  margin-top: 22px;
  color: $off-white;
}

.mobile-nav-menu-rsvp {
  border: 1px solid $off-white;
  padding: 10px 80px;
  display: inline-block;
  color: $off-white;
}

* {
  margin: 0;
  padding: 0; 
}

#nav-icon4 {
  width: 40px;
  height: 45px;
  position: relative;
  margin: 10px auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $off-white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
/* Icon 4 */
//thanks to https://codepen.io/designcouch/pen/Atyop
#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  transform: rotate(52deg);
  top: -3px;
  left: 8px;
  width:129%;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  transform: rotate(-52deg);
  top: 39px;
  left: 8px;
  width:129%;
}

@media only screen and (min-width: 768px) {
  .mobile-menu .nav-menu-jordan-joseph {
    font-size: 3em;
  }

  .mobile-menu-option {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }

  .nav-wrapper {
    display: inline-block;
  }

  .nav-container {
    display: inline-block;
  }

  .nav-container-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  .nav-menu-jordan-joseph {
    font-size: 1.5em;
    margin-top: 10px;
  }

  .nav-menu-option {
    font-size:.6em;
    margin: 27px 10px 17px 10px
  }

  .nav-menu-rsvp {
    font-size:.6em;
    margin-top: 18px;
  }
}
