<div class="section registry-container">
    <div class="container">
        <div class="registry-image-container">
            <div class="registry-image-1"></div>
            <div class="registry-image-2"></div>
        </div>
        <div class="pull-right">
            <div class="registry-header-container">
                <h1 class="section-header registry-header">
                    Registry
                </h1>
            </div>
            <div class="registry-info-container">
                <div class="registry-info">
                    <p>Lorem ipsum</p>
                    <div class="registry-options-container">
                        <div class="square-container target"></div>
                        <div class="half-hr"></div>
                        <div class="square-container bbb"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>