@import "../../variables";

.square-container {
  width: 87.5%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 3px;
  margin:20px 0px;
  border-top: 1px solid $light-blue;
  border-bottom: 1px solid $light-blue;
}

.registry-container {
  background-color: $main-blue;
  height: auto;
  padding-bottom: 100px;
  text-align: center;
}

.registry-header-container {
}

.half-hr {
  width: 50%;
  margin: 0 auto 15px auto;
  height: 1px;
  border: 1px solid $light-blue;
}

.target {
  width: 200px;
}

.bbb {
  width: 200px;
}

.registry-header {
  text-align: center;
  padding: 50px 0 20px;
  width: 100vw;
  color: $light-blue;
}

.registry-info-container {
  font-family: $copy-font-stack;
  font-style: $copy-font-style;
  font-size: 0.7em;
  width: 80%;
  margin: 0 auto;
  line-height: 1.1em;
}

.registry-info-container p {
  padding-bottom:10px;
}

.registry-info {
  
}

.registry-options-container {
  padding-top: 10px;
}

@keyframes slideInRight { 
  0% {
    opacity: 0;
    transform: translateX(200%);
  }

  100% {
    
    opacity: 1
  }
}

@keyframes slideInLeft { 
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1
  }
}

.slideInLeft {
  animation: slideInLeft 1s ease-in-out;
  animation-fill-mode: both;
  }

.slideInRight {
animation: slideInRight 1s ease-in-out;
animation-fill-mode: both;
}

.registry-options-container .slideInRight:nth-child(1) { 
animation-delay: .5s
}

.registry-options-container .slideInRight:nth-child(2) { 
animation-delay: 1s
}

.registry-options-container .slideInRight:nth-child(3) { 
animation-delay: 1.5s
}

@media screen and (min-width: 768px) {
  .registry-header {
    padding: 0 0 30px;
  }
  .registry-container {
    padding: 30px 0 120px;
  }

  .registry-info {
    font-size: .8em;
  }

  .registry-options-container {
    display:flex;
    flex-direction: row;
  }

  .square-container {
    left:initial;
    transform:initial;
    margin: 0 auto;
  }

  .target {
    width: 200px;
    margin:auto;
  }
  
  .bbb {
    width: 200px;
    margin:auto;
  }
}

@media screen and (min-width: 1024px) {
  .square-container {
    width: 230px;
    position: initial;
    left: 0;
    transform: none;
    padding: 3px;
    margin: 5px;
  }

  .registry-container {
    height: 500px;
  }

  .registry-options-container {
    display:flex;
    flex-direction: row;
    place-content: space-evenly;
  }

  .container {
  }

  .half-hr {
    display: inline-block;
    width: 2px;
    border: 1px solid $light-blue;
    height: 100px;
    margin-right: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .registry-container {
    padding: 30px 0 150px;
  }
}