@import "../../variables";

.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 3px;
  margin: 5px;
}

.registry-container {
  background-color: $main-blue;
  height: auto;
  padding-bottom: 40px;
  text-align: center;
}

.registry-image-container {
  display:none;
}

.registry-image-1, .registry-image-2 {
  height:200px;
  width:200px;
  border: 1px solid #fff;
  background-color:gray;
}

.registry-header-container {
}

.half-hr {
  width: 50%;
    margin: 0 auto 15px auto;
}

.target {
  background-image: url("/assets/images/target-logo.png");
  background-size:contain;
  height:80px;
  width:200px;
  background-repeat: no-repeat;
}

.bbb {
  background-image: url("/assets/images/bed-bath-logo.png");
  background-size:contain;
  height:80px;
  width:200px;
  background-repeat: no-repeat;
}

.registry-header {
  text-align: center;
  padding: 50px 0px;
  width: 100vw;
  color: $light-blue;
}

.registry-info-container {
}

.registry-info {
}

.registry-options-container {
  padding-top: 10px;
}

@media screen and (min-width:768px) {
  .registry-container {
    height:450px;
  }

  .registry-image-container {
    display: -webkit-inline-box;
    position: relative;
    left: -330px;
    top: 150px;
  }

  .container {

  }

  .pull-right {
    position: relative;
    left: 150px;
  }

  .registry-image-1 {
    position: absolute;
    top: -50px;
  }

  .registry-image-2 {
    position: absolute;
    left: 50px;
  }

}