<div class="section registry-container">
    <div class="container">
        <div class="registry-header-container">
            <h1 class="section-header registry-header">
                Registry
            </h1>
        </div>
        <div class="registry-info-container">
            <p>
                We are so grateful to have each of you involved in our lives. Jordan and Joseph are registered at the following&nbsp;locations:
            </p>
            <div class="registry-info">
                <div #registry class="registry-options-container">
                    <div [class.slideInRight]="registryElementIsInView" class="square-container target" (click)="openRegistry(registry[0].reg_url)">
                        <img class="target" src="/assets/images/target-logo (1).png" />
                    </div>
                    <div [class.slideInRight]="registryElementIsInView" class="square-container bbb" (click)="openRegistry(registry[1].reg_url)">
                        <img class="bbb" src="/assets/images/bed-bath-logo (1).png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>