@import "../../variables";

.square-container {
  width: fit-content;
  height: 250px;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: $main-red;
  padding: 10px;
  text-align: center;
}

.rsvp-container {
  background-image: url(/assets/images/rsvp-background.jpg);
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  height: auto;
  padding: 40px 20%;
  padding-bottom: 40px;
}

.rsvp-info {
  position: relative;
  top: -65px;
}

.rsvp-input {
  display: block;
  text-align: center;
  margin: 0 auto;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  color: $off-white;
  border-bottom: 1px solid $off-white;
  width: 60%;
  padding-bottom: 5px;
  outline: none;
  font-family: inherit;
}

.rsvp-input::placeholder {
  color: $off-white;
}

.rsvp-respond-by {
  color: $light-red;
  font-size: 0.6em;
  padding: 18px;
}

.rsvp-header {
  color: $light-red;
}

@media screen and (min-width: 768px) {

  .rsvp-container {
    height: 500px;
    background-position-x: -40px;
    background-attachment: fixed;
  }

  .square-container {
    width: 480px;
    height: 540px;
    position: inherit;
    -webkit-transform: none;
    transform: none;
    background-color: #4C121D;
    text-align: center;
    top: 0;
  }

  .rsvp-info {
    height: 375px;
  }

  .rsvp-respond-by {
    font-size: .8em;
  }
}

@media screen and (min-width: 1024px) {

}
