@import "../../variables";

.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  margin: 5px;
}

.hotel-container {
  background-color: #d3d3d3;
  height: auto;
  padding-bottom: 40px;
  text-align: center;
}

.hotel-header-container {
}

.hotel-header {
  text-align: center;
  padding: 50px 0px;
  width: 100vw;
  color: $off-white;
}

.hotel-description-container {
}

.hotel-description {
  font-family: $copy-font-stack;
  font-style: $copy-font-style;
  font-size: 0.7em;
  width: 87.5%;
  margin: 0 auto;
}

.hotel-description p {
  margin: 10px;
}

.hotel-info-container {
  padding: 5px;
}

.hotel-info {
}

.half-hr {
  width: 50%;
  margin: 0 auto;
  border-color: $light-red;
}

.reserve-button {
  padding: 15px 0px;
  display: inline-block;
  border: 4px double #eae9e4;
  margin: 20px;
  width: 170px;
}

@media screen and (min-width: 768px) {
  .square-container {
    display: inline-block;
    left: 0;
    transform: none;
  }

  .half-hr {
    display: inline-block;
    width: 2px;
    height: 150px;
    position: relative;
    top: 35px;
  }
}
