<div #hotelcontainer class="section hotel-container">
    <div class="hotel-header-container">
        <h1 [class.fadeIn]="hotelcontainerInView" class="section-header hotel-header">
            Hotel &amp; Travel
        </h1>
    </div>
    <div [class.slideIn]="hotelcontainerInView" class="hotel-description-container">
        <div class="hotel-description">
            <p>A selection of rooms have been reserved at a special&nbsp;rate November 16th-18th. Rooms&nbsp;must be reserved
                no later than September 16th to receive the&nbsp;special&nbsp;rate.
            </p>
        </div>
        <div class="hotel-info-container">
            <div #hotelinfo class="hotel-info">
                <div [class.slideIn]="hotelinfoInView" class="square-container">
                    <p class="hotel-title">Hotel</p>
                    <p class="hotel-subtitle">{{hotel?.hot_name}}</p>
                    <br />
                    <p class="hotel-copy">{{hotel?.hot_address_1}}</p>
                    <p class="hotel-copy">{{hotel?.hot_city}} {{hotel?.hot_state}} {{hotel?.hot_zip}}</p>
                </div>
                <hr [class.slideIn]="hotelinfoInView" class="half-hr" />
                <div [class.slideIn]="hotelinfoInView" class="square-container">
                    <p class="hotel-title">Book</p>
                    <p class="hotel-subtitle">Online</p>
                    <a href="{{hotel?.hot_url}}" target="_blank" class="button hotel-button">Reserve Room</a>
                </div>
                <hr [class.slideIn]="hotelinfoInView" class="half-hr" />
                <div [class.slideIn]="hotelinfoInView" class="square-container">
                    <p class="hotel-title">Book by</p>
                    <p class="hotel-subtitle">Phone</p>
                    <br />
                    <p class="hotel-copy">{{hotel?.hot_phone}}</p>
                    <p class="hotel-copy">Donnellan/Banass Wedding</p>
                </div>
            </div>
        </div>
    </div>
</div>