@import "../../variables";

.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  margin: 5px;
}

.hotel-container {
  background-color: #d3d3d3;
  height: auto;
  padding-bottom: 40px;
  text-align: center;
}

.hotel-header-container {
}

.hotel-header {
  text-align: center;
  padding: 50px 0px;
  width: 100vw;
  color: $off-white;
}

.hotel-description-container {
}

.hotel-description {
}

.hotel-info-container {
  padding: 5px;
}

.hotel-info {
}

.half-hr {
  width:50%;
  margin: 0 auto;
  border-color: $light-red;
}

.reserve-button {
  padding: 20px;
    display: inline-block;
    border: 4px double $off-white;
    margin: 20px;
    width: 150px;
}

@media screen and (min-width: 768px) {
  .square-container {
    display: inline-block;
    left: 0;
    transform: none;
  }
}
