<div class="section festivities-container">
    <div class="festivities-background">
    </div>
    <div #festivities [class.slideIn]="festivitiesInView" class="festivities-square-container">
        <div class="square-container">
            <div class="festivities-header-container">
                <h1 class="section-header festivities-header">Festivities</h1>
            </div>
            <p class="festivities-subheader">The Loft at CD &amp; Me</p>
            <p class="festivities-copy">
                23320 S. LaGrange Road
            </p>
            <p class="festivities-copy">
                Frankfort, Illinois 60423
            </p>
            <br />
            <p class="festivities-subheader">Ceremony</p>
            <p class="festivities-copy">
                3:30 PM
            </p>
            <hr class="half-hr" />
            <p class="festivities-copy">Ceremony will be held outside (weather&nbsp;permitting)</p>
            <p class="festivities-copy">Reception to follow ceremony</p>
        </div>
    </div>
</div>