@import "../../variables";

.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: $main-red;
  padding: 3px;
  text-align: center;
  top: -65px;
}

.half-hr {
  width:50%;
  margin: 20px auto;
  border-color:$light-red;
}

.festivities-container {
  height: auto;
  padding-bottom: 40px;
}

.festivities-header {
  text-align: center;
  padding: 20px 0px;
  color:$light-red;
}

.festivities-background {
  height: 200px;
  background-color: #d3d3d3;
  background-image: url("/assets/images/festivities-background.jpg");
  background-size:cover;
  margin-bottom: 20px;
}

.festivities-square-container {

}

@media screen and (min-width: 768px) {
  .festivities-container {
    background-color: #3d3d3d;
    padding: 40px;
    background-image: url("/assets/images/festivities-background.jpg");
    background-size:cover;
    height:600px;
    text-align: -webkit-center;
  }

  .festivities-square-container {
    position: relative;
    left: -340px;
    max-width: fit-content;
  }

  .square-container {
    width: 480px;
    height: 410px;
    margin: 60px 30px 0px -130px;
    position: inherit;
    -webkit-transform: none;
    transform: none;
    background-color: #3a1b23;
    padding: 3px;
    text-align: center;
    top: 0;
  }

  .festivities-background {
    display: none;
  }

  .festivities-header {
    padding: 0;
  }

  

}

@media screen and (min-width: 1320px) {
  .festivities-container {
    background-color: #3d3d3d;
    padding: 40px;
    background-image: url("/assets/images/festivities-background.jpg");
    background-size:cover;
    background-attachment: fixed;
  }
}