<div class="section festivities-container">
    <div class="festivities-background">
    </div>
    <div class="festivities-square-container">
        <div class="square-container">
            <div class="festivities-header-container">
                <h1 class="section-header festivities-header">Festivities</h1>
            </div>
            <p>The Loft at CD &amp; Me</p>
            <p>
                <i>23320 S. LaGrange Road</i>
            </p>
            <p>
                <i>Frankfort, Illinois 60423</i>
            </p>
            <br />
            <p>Ceremony</p>
            <i>3:30 PM</i>
            <hr class="half-hr" />
            <i>Reception to follow ceremony</i>
        </div>
    </div>
</div>