@import "../../variables";

.our-story-container {
  height: auto;
  background: url("/assets/images/floral-background-01.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.our-story-header {
  text-align: center;
  padding: 45px 0px;
}

.our-story {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.our-story-inactive {
  position:absolute;
}

.button-container {
  display: inline-flex;
  position: relative;
  margin: 30px 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.story-button-container {
  padding: 0px 5px;
}

.story-button {
  height: 10px;
  width: 10px;
  margin: 5px;
  border: 1px solid $off-white;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.story-button:hover,
.story-button:active {
  background-color: $light-red;
}

.story-button-selected {
  background-color: $light-red !important;
  border: none;
}

.our-story-subsection-header {
  padding-bottom: 20px;
}

.our-story-subsection-header .our-story-subsection-title {
  font-size: 1em;
  font-family: $all-caps-font-stack;
}

.our-story-subsection-date {
  font-size:.7em;
}

.our-story-subsection-description {
  font-size: 0.7em;
  font-family: $copy-font-stack;
  font-style: $copy-font-style;
  line-height: 1.2em;
  text-align: left;
}

@keyframes fadeIn { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1
  }
}

.fadeIn {
animation: fadeIn 1.5s ease-in-out;
animation-fill-mode: both;
}

@media screen and (min-width: 768px) {
  .our-story-subsection-description {
    font-size: .8em;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .our-story-container {
    padding: 0 0 60px;
  }

  .our-story-subsection-header h2 {
    font-size: 1em;
  }

  .story-button {
    height: 15px;
    width: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .our-story-container {
    padding: 75px 10%;
  }
}