.our-story-container {
  height: 360px;
  background-color:gray;
}

.our-story-header {
  text-align: center;
  padding: 50px 0px;
  width: 100vw;
}

.our-story {
  text-align: center;
}

.our-story-subsection-header {
  padding-bottom: 20px;
}

.our-story-subsection-date {
}

.our-story-subsection-description {
}
