<div class="section our-story-container">
    <div #ourstory class="our-story-header-container">
        <h1 class="section-header our-story-header">Our Story</h1>
    </div>
    <div class="our-story">
        <div *ngFor="let story of stories; let i = index">
            <div class='our-story-story' [@listAnimation]="(storyIndex === i) ? 'visible' : 'invisible'">
                <div class="our-story-subsection-header">
                    <h2>{{story.title}}</h2>
                    <h2 class="our-story-subsection-date">- {{story.date}} -</h2>
                </div>
                <div class="our-story-subsection-description" *ngFor="let description of story.descriptions">
                    <p>{{description}}</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <div class="story-button-container" *ngFor="let story of stories; let i = index">
            <span class="story-button" [class.story-button-selected]="storyIndex === i" (click)="setIndex(i)"></span>
        </div>
    </div>
</div>