@import "../../variables";

.our-story-container {
  height: auto;
  background-color: gray;
}

.our-story-header {
  text-align: center;
  padding: 50px 0px;
  width: 100vw;
}

.our-story {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.button-container {
  display: inline-flex;
  position: relative;
  margin: 30px 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.story-button-container {
  padding: 0px 5px;
}

.story-button {
  height: 25px;
  width: 25px;
  border: 1px solid $off-white;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.story-button:hover,
.story-button:active {
  background-color: $light-red;
}

.story-button-selected {
  background-color: $main-red !important;
  border: none;
}

.our-story-subsection-header {
  padding-bottom: 20px;
}

.our-story-subsection-header h2 {
  font-size: 0.8em;
  font-family: $all-caps-font-stack;
}

.our-story-subsection-date {
}

.our-story-subsection-description {
  font-size: 0.6em;
  font-family: $copy-font-stack;
  font-style: $copy-font-style;
  line-height: 1.5em;
}
