$main-blue: #001F2D;
$dark-blue: #0A1A22;
$light-blue: #546A6D;
$main-red: #4C121D;
$light-red: #8a5965;
$off-white: #eae9e4;

$all-caps-font-stack: "mrs-eaves-roman-all-small-ca", serif;
$copy-font-stack: "mrs-eaves", serif;
$copy-font-style: italic;
$font-size: 1.4em;
$all-caps-letter-spacing: 0.05em;
$font-color: $off-white;
