@import "../../variables";

.bride-groom-container {
  background-color: $main-blue;
  height: auto;
  padding-bottom: 40px;
}

.bride-groom-header {
  text-align: center;
  padding: 30px 3px 50px 3px;
  width: 100vw;
  color: $light-blue;
}

.square-container {
  width: 87.5%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.couple-container {
}

.couple-description {
  background-color: $main-red;
  height: auto;
  padding: 10px 30px 20px 30px;
}

.couple-description h2 {
  color: $light-red;
}

.couple-description hr {
  width: 100px;
  margin: 20px 0px;
  border: 1px solid $light-red;
}

.couple-description p {
  font-size: 0.7em;
  font-family: $all-caps-font-stack;
  letter-spacing: $all-caps-letter-spacing;
}

.couple-description ul {
  list-style: none;
}

.couple-description ul li {
  font-size: 0.6em;
  font-style: italic;
  letter-spacing: 0.05em;
}

.couple-description-right {
  position: relative;
  top: -10px;
}

.couple-picture {
  background-color: gray;
  height: 200px;
  background-size: contain;
}

.bride-container .square-container.couple-picture {
  background: url("/assets/images/jordan-toddler.jpg") no-repeat center top;
  background-size: 100%;
}

.groom-container .square-container.couple-picture {
  background: url("/assets/images/joe-toddler.jpg") no-repeat center top;
  background-size: 100%;
}

.couple-picture-right {
  position: relative;
  top: 10px;
}

@media screen and (min-width: 768px) {
  .square-container {
    position: initial;
    left: initial;
    transform: none;
    text-align: left;
    width: 50%;
  }

  .couple-container {
    margin: 0 auto;
    width: 80vw;
    text-align: center;
  }

  .couple-description h2 {
    font-size:3em;
  }

  .bride-container {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .couple-picture {
    height: auto;
    background-size: cover;
  }

  .groom-container {
    display: inline-flex;
    top: -8px;
    position: relative;
    width: 100%;
  }

  .bride-container .square-container.couple-picture {
    height: auto;
    background-position:bottom;
  }

  .groom-container .square-container.couple-picture {
    height: auto;
    background-position: top;
  }
}
