@import "../../variables";

.bride-groom-container {
  background-color: $main-blue;
  height: auto;
  padding: 45px 0;
}

.bride-groom-subheader {
  color: $light-blue;
  font-family: $all-caps-font-stack; 
  font-size: .7em;
  text-align: center;
}

.bride-groom-header {
  text-align: center;
  color: $light-blue;
  padding-bottom: 30px;
}

.square-container {
  width: 87.5%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.couple-container {
}

.couple-description {
  background-color: $main-red;
  height: auto;
  padding: 40px 10% 45px;
}

.couple-description h2 {
  color: $light-red;
  font-size: 2em;
}

.couple-description hr {
  width: 100px;
  margin: 20px 0px;
  border: 1px solid $light-red;
}

.couple-description p {
  font-size: 0.7em;
  font-family: $all-caps-font-stack;
  letter-spacing: $all-caps-letter-spacing;
}

.couple-description ul {
  list-style: none;
}

.couple-description ul li {
  font-size: 0.7em;
  font-style: italic;
}

.couple-description-right {
  position: relative;
  top: -10px;
}

.couple-picture img {
  height: auto;
  width: 100%;
}

.bride-container .square-container.couple-picture {
  //background: url("/assets/images/jordan-toddler.jpg") no-repeat center top;
  //background-size: 100%;
}

.groom-container .square-container.couple-picture {
  //background: url("/assets/images/joe-toddler.jpg") no-repeat center top;
  //background-size: 100%;
}

.couple-picture-right {
  position: relative;
  top: 10px;
}

@media screen and (min-width: 768px) {
  .square-container {
    position: initial;
    left: initial;
    transform: none;
    text-align: left;
    width: 50%;
  }
  .bride-groom-subheader {
    font-size: 1em;
  }

  .couple-container {
    margin: 0 auto;
    padding: 60px 10%;
    text-align: center;
  }

  .couple-description h2 {
    font-size: 3em;
  }

  .couple-description p {
    font-size: .9em;
    line-height: 1em;
  }

  .couple-description ul li {
    font-size: .8em;
    line-height: 1.2em;
  }

  .bride-container {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .couple-picture {
    height: auto;
    background-size: cover;
  }

  .groom-container {
    display: inline-flex;
    top: -8px;
    position: relative;
    width: 100%;
  }

  .bride-container .square-container.couple-picture {
    align-self: flex-end;
  }

  .groom-container .square-container.couple-picture {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1024px) {
  .couple-description {
    padding: 25px 50px 35px 50px;
  }

  .bride-groom-container {
    padding-bottom: 60px 0;
  }
}

@media screen and (min-width: 1280px) {
  .couple-container {
    padding: 75px 20%;
  }

  .bride-groom-container {
    padding: 75px 0;
  }

  .bride-groom-header {
    font-size: 6em;
  }
}

@keyframes slideInUp { 
        0%   { 
          opacity: 0;
          transform: translateY(0); 
        }

        50%  { 
          
          transform: translateY(-50px);
        }

        100% { 
          opacity: 1;
          transform: translateY(0); 
        }
}

.slideInUp {
animation: slideInUp 1s ease-in-out;
animation-fill-mode: both;
}

.bride-groom-subheader.slideInUp {
  animation-delay: 1s;
}

.bride-groom-header.slideInUp {
  animation-delay: 2s;
}


