<div #bridegroom class="bride-groom-container">
    <div class="header-container">
        <h2 [class.slideInUp]="brideGroomInView" class="bride-groom-subheader ">Oh Waow!</h2>
        <h1 [class.slideInUp]="brideGroomInView " class="section-header bride-groom-header ">We're getting married.</h1>
    </div>
    <div class="couple-container ">
        <div class="bride-container ">
            <div [class.slideInLeft]="brideGroomInView" class="square-container couple-picture ">
                <img src="/assets/images/jordan-toddler.jpg " />
            </div>
            <div [class.slideInLeft]="brideGroomInView" class="square-container couple-description ">
                <div [class.slideInLeft]="brideGroomInView">
                    <h2 class="section-header ">Bride</h2>
                    <p>Jordan Nicole Donnellan</p>
                    <hr />
                    <ul>
                        <li>Graphic Designer</li>
                        <li>Afternoon Pigeon</li>
                        <li>Better Than Shazam</li>
                        <li>World-Renowned Olaf Collector</li>
                        <li>Taco Tycoon</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="groom-container ">
            <div [class.slideInLeft]="brideGroomInView" class="square-container couple-picture ">
                <img src="/assets/images/joe-toddler.jpg " />
            </div>
            <div [class.slideInLeft]="brideGroomInView" class="square-container couple-description ">
                <div [class.slideInLeft]="brideGroomInView">
                    <h2 class="section-header ">Groom</h2>
                    <p>Joseph Tyler Banass</p>
                    <hr />
                    <ul>
                        <li>Computer Scientist</li>
                        <li>Early Bird</li>
                        <li>Movie Riffer</li>
                        <li>Jack's Pizza Enthusiast</li>
                        <li>Portable Wikipedia</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>