.bride-groom-container {
  background-color:#d3d3d3;
  height:500px;
}

.bride-groom-header {
  text-align: center;
  padding: 50px 0px;
  font-size: 1.3em;
  width: 100vw;
}

.square-container {
   display:inline-block;
   width:50%;
}

.couple-description {
  background-color:#3d3d3d;
  height:170px;
}

.couple-description-right {
  position: relative;
    top:-10px;
}

.couple-picture {
  background-color: #823232;
  height:150px;
}

.couple-picture-right {
  position:relative;
  top:10px;
}