.bride-groom-container {
  background-color: #d3d3d3;
  height: auto;
  padding-bottom: 40px;
}

.bride-groom-header {
  text-align: center;
  padding: 50px 3px;
  width: 100vw;
}

.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.couple-container {
}

.couple-description {
  background-color: #3d3d3d;
  height: auto;
  padding: 10px 30px 20px 30px;
}

.couple-description h2 {
}

.couple-description hr {
  width: 50px;
  margin: 20px 0px;
}

.couple-description p {
  font-size: 0.8em;
}

.couple-description ul {
  list-style: none;
}

.couple-description ul li {
  font-size: 0.6em;
}

.couple-description-right {
  position: relative;
  top: -10px;
}

.couple-picture {
  background-color: #823232;
  height: 150px;
}

.couple-picture-right {
  position: relative;
  top: 10px;
}

@media screen and (min-width: 768px) {
  .square-container {
  }

  .couple-container {
    margin: 0 auto;
    width: 700px;
  }

  .bride-container {
    display: inline-flex;
    flex-direction: row-reverse;
  }

  .bride-container .square-container.couple-picture {
    top:80px;
    height:190px;
  }

  .groom-container {
    display: inline-flex;
  }

  
  .groom-container .square-container.couple-picture {
    height:190px;
  }
}
