<div class="bride-groom-container">
    <div class="header-container">
        <h1 class="bride-groom-header">We're getting married.</h1>
    </div>
    <div class="couple-container">
        <div class="square-container couple-description">
            <p>lorem ipsum</p>
        </div>
        <div class="square-container couple-picture couple-picture-right">
            Picture
        </div>
        <br />
        <div class="square-container couple-picture">
            Picture
        </div>
        <div class="square-container couple-description couple-description-right">
            <p>lorem ipsum</p>
        </div>
    </div>
</div>