<div class="bridal-party-container">
    <div class="bridal-party-header-container">
        <h1 class="section-header bridal-party-header">Bridal Party</h1>
    </div>
    <div class="square-container bridesmaids-list-container">
        <div #bridesmaids class="bridesmaid-list">
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Kaitlynn Zimny</h2>
                <h3>Maid of Honor / Bride's Cousin</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Steph Miranda</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Lynn Meller</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Stacie Sansone</h2>
                <h3>Bridesmaid / College Friend</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Kelley Jacobsen</h2>
                <h3>Bridesmaid / College Friend</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Kiki Kolakowski</h2>
                <h3>Bridesmaid / College Friend</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Courtney Coffman</h2>
                <h3>Bridesmaid / College Friend</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Kelly Pisanko</h2>
                <h3>Bridesmaid / College Friend</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Mikayla</h2>
                <h3>Junior Bridesmaid / Groom's Niece</h3>
            </div>
            <div [class.slideIn]="bridesmaidsInView" class="bridesmaid-container">
                <h2>Riley</h2>
                <h3>Flower Girl / Groom's Niece</h3>
            </div>
        </div>
    </div>
    <br />
    <div class="square-container groomsmen-list-container">
        <div #groomsmen class="groomsmen-list">
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Brad Barkauski</h2>
                <h3>Best Man / Best Friend</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Doug Barkauski</h2>
                <h3>Groomsmen / Friend</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Adrian Baran</h2>
                <h3>Groomsmen / College Friend</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Peter Szczepanski</h2>
                <h3>Groomsmen / College Friend</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Joe Wegner</h2>
                <h3>Groomsmen / College Friend</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Jeremy Ortiz</h2>
                <h3>Groomsmen / College Friend</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Ryan Zimny</h2>
                <h3>Groomsmen / Bride's Cousin</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Carter</h2>
                <h3>Junior Groomsmen / Bride's Cousin</h3>
            </div>
            <div [class.slideIn]="groomsmenInView" class="groomsmen-container">
                <h2>Braden</h2>
                <h3>Ring Bearer / Family Friend of&nbsp;Bride</h3>
            </div>
        </div>
    </div>
</div>