@import "../../variables";

.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 3px;
}

.bridal-party-container {
  background-color: $main-blue;
  height: auto;
  padding: 45px 0;
}

.bridal-party-header-container {
}

.bridal-party-header {
  text-align: center;
  width: 100vw;
  color: $light-blue;
  padding-bottom: 30px;
}

.bridesmaids-list-container {
}

.bridesmaids-header-container {
}

.bridesmaids-header {
  text-align: center;
  padding: 50px 0px;
  font-size: 1.3em;
}

.bridesmaid-list {
  text-align: center;
}

.bridesmaid-container {
  padding: 10px 0px;
}

.bridesmaid-container h2,
.groomsmen-container h2 {
  font-family: $all-caps-font-stack;
  font-size: 0.8em;
  letter-spacing: $all-caps-letter-spacing;
  line-height: .8em;
}

.bridesmaid-container h3,
.groomsmen-container h3 {
  font-size: 0.7em;
  font-family: $copy-font-stack;
  font-style: $copy-font-style;
  padding-top: 5px;
}

.groomsmen-container {
  padding: 10px 0px;
}

.groomsmen-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bridal-party-container {
    padding: 55px 0 60px;
  }
  .bridesmaids-list-container,
  .groomsmen-list-container {
    width: 93%;
    max-width: 1200px;
  }

  .bridesmaid-container h2,
  .groomsmen-container h2 {
    font-size: .8em;
  }

  .bridesmaid-container h3,
  .groomsmen-container h3 {
  font-size: .6em;
  }

  .bridesmaid-container {
    width: 33%;
    display: inline-block;
  }

  .groomsmen-container {
    width: 33%;
    display: inline-block;
  }
}

@keyframes slideIn { 
    0% {
      opacity: 0;
      transform: translateX(0);
    }

    50% {
      transform: translateX(100%);
      opacity: 1
    }
  }

.slideIn {
  animation: slideIn 1s ease-in-out;
  animation-fill-mode: both;
}



/*.bridesmaid-list .bridesmaid-container.slideIn:nth-child(1),
.groomsmen-list .groomsmen-container.slideIn:nth-child(1) { 
  animation-delay: .5s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(2),
.groomsmen-list .groomsmen-container.slideIn:nth-child(2) { 
  animation-delay: 1s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(3),
.groomsmen-list .groomsmen-container.slideIn:nth-child(3) { 
  animation-delay: 1.5s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(4),
.groomsmen-list .groomsmen-container.slideIn:nth-child(4) { 
  animation-delay: 2s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(5),
.groomsmen-list .groomsmen-container.slideIn:nth-child(5) { 
  animation-delay: 2.5s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(6),
.groomsmen-list .groomsmen-container.slideIn:nth-child(6) { 
  animation-delay: 3s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(7),
.groomsmen-list .groomsmen-container.slideIn:nth-child(7) { 
  animation-delay: 3.5s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(8),
.groomsmen-list .groomsmen-container.slideIn:nth-child(8) { 
  animation-delay: 4s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(9),
.groomsmen-list .groomsmen-container.slideIn:nth-child(9) { 
  animation-delay: 4.5s
 }

.bridesmaid-list .bridesmaid-container.slideIn:nth-child(10),
.groomsmen-list .groomsmen-container.slideIn:nth-child(10) { 
  animation-delay: 5s
 }
 */

@media screen and (min-width: 1024px) {
  .bridal-party-container {
    padding: 0 0 60px;
  }

  .bridesmaid-container h2,
  .groomsmen-container h2 {
    font-family: $all-caps-font-stack;
    font-size: 1em;
    letter-spacing: $all-caps-letter-spacing;
  }

  .bridesmaid-container h3,
  .groomsmen-container h3 {
    font-size: 0.7em;
    font-family: $copy-font-stack;
    font-style: $copy-font-style;
    letter-spacing: 0.05em;
  }
}

@media screen and (min-width: 1280px) {
  .bridal-party-container {
    padding: 50px 0 75px;
  }
}
