@import "../../variables";

.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 3px;
}

.bridal-party-container {
  background-color: $main-blue;
  height: auto;
  padding-bottom: 40px;
}

.bridal-party-header-container {
}

.bridal-party-header {
  text-align: center;
  padding: 50px 0px;
  width: 100vw;
  color: $light-blue;
}

.bridesmaids-list-container {
}

.bridesmaids-header-container {
}

.bridesmaids-header {
  text-align: center;
  padding: 50px 0px;
  font-size: 1.3em;
}

.bridesmaid-list {
  text-align: center;
}

.bridesmaid-container {
  padding: 10px 0px;
}

.bridesmaid-container h2,
.groomsmen-container h2 {
  font-family: $all-caps-font-stack;
  font-size: 0.7em;
  letter-spacing: $all-caps-letter-spacing;
}

.bridesmaid-container h3,
.groomsmen-container h3 {
  font-size: 0.6em;
  font-family: $copy-font-stack;
  font-style: $copy-font-style;
  letter-spacing: 0.05em;
}

.groomsmen-container {
  padding: 10px 0px;
}

.groomsmen-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bridesmaids-list-container,
  .groomsmen-list-container {
    width: 93%;
    max-width: 1200px;
  }

  .bridesmaid-container {
    width: 33%;
    display: inline-block;
  }

  .groomsmen-container {
    width: 33%;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .bridesmaid-container h2,
  .groomsmen-container h2 {
    font-family: $all-caps-font-stack;
    font-size: 1em;
    letter-spacing: $all-caps-letter-spacing;
  }

  .bridesmaid-container h3,
  .groomsmen-container h3 {
    font-size: 0.7em;
    font-family: $copy-font-stack;
    font-style: $copy-font-style;
    letter-spacing: 0.05em;
  }
}
