.square-container {
  width: 230px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #d3d3d3;
  padding: 3px;
}

.bridal-party-container {
  background-color: #c74141;
  height: auto;
  padding-bottom: 40px;
}

.bridal-party-header-container {
}

.bridal-party-header {
  text-align: center;
  padding: 50px 0px;
  width: 100vw;
}

.bridesmaids-list-container {
}

.bridesmaids-header-container {
}

.bridesmaids-header {
  text-align: center;
  padding: 50px 0px;
  font-size: 1.3em;
}

.bridesmaid-list {
  text-align: center;
}

.bridesmaid-container {
  padding: 10px 0px;
}

.groomsmen-container {
  padding: 10px 0px;
}

.groomsmen-list {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .bridesmaids-list-container {
    width: 700px;
  }

  .bridesmaid-container {
    width: 33%;
    display: inline-block;
  }

  .groomsmen-list-container {
    width: 700px;
  }

  .groomsmen-container {
    width: 33%;
    display: inline-block;
  }
}
