<div class="bridal-party-container">
    <div class="bridal-party-header-container">
        <h1 class="bridal-party-header">Bridal Party</h1>
    </div>
    <div class="square-container bridesmaids-list-container">
        <div class="bridesmaid-list">
            <div class="bridesmaid-container">
                <h2>Bridesmaid 1</h2>
                <h3>Maid of Honor / Bride's Cousin</h3>
            </div>
            <div class="bridesmaid-container">
                <h2>Bridesmaid 2</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div class="bridesmaid-container">
                <h2>Bridesmaid 3</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div class="bridesmaid-container">
                <h2>Bridesmaid 4</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div class="bridesmaid-container">
                <h2>Bridesmaid 5</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div class="bridesmaid-container">
                <h2>Bridesmaid 6</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div class="bridesmaid-container">
                <h2>Bridesmaid 7</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
            <div class="bridesmaid-container">
                <h2>Bridesmaid 8</h2>
                <h3>Bridesmaid / Junior High Friend</h3>
            </div>
        </div>
    </div>
    <br />
    <div class="square-container groomsmen-list-container">
        <div class="groomsmen-list">
            <div class="groomsmen-container">
                <h2>Groomsmen 1</h2>
                <h3>Best Man / Bride's Cousin</h3>
            </div>
            <div class="groomsmen-container">
                <h2>Groomsmen 2</h2>
                <h3>Groomsmen / Junior High Friend</h3>
            </div>
            <div class="groomsmen-container">
                <h2>Groomsmen 3</h2>
                <h3>Groomsmen / Junior High Friend</h3>
            </div>
            <div class="groomsmen-container">
                <h2>Groomsmen 4</h2>
                <h3>Groomsmen / Junior High Friend</h3>
            </div>
            <div class="groomsmen-container">
                <h2>Groomsmen 5</h2>
                <h3>Groomsmen / Junior High Friend</h3>
            </div>
            <div class="groomsmen-container">
                <h2>Groomsmen 6</h2>
                <h3>Groomsmen / Junior High Friend</h3>
            </div>
            <div class="groomsmen-container">
                <h2>Groomsmen 7</h2>
                <h3>Groomsmen / Junior High Friend</h3>
            </div>
            <div class="groomsmen-container">
                <h2>Groomsmen 8</h2>
                <h3>Groomsmen / Junior High Friend</h3>
            </div>
        </div>
    </div>
</div>